.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -4px;
}

.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }

    ._25 {
        flex: 2.5;
    }
    ._55 {
        flex: 5.5;
    }
    ._75 {
        flex: 7.5;
    }
    ._20 {
        flex: 2;
    }
}
